body,html {
    background-color: rebeccapurple;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

.center(){
 position: absolute;
        margin: auto;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
}

.header {
    height:50%;
    position:relative;
    overflow:hidden;
   > h2 {
       position:absolute;
       .center;
       height:22px;
       width:50%;
   }
}

.content {
    height: 200px;
    margin-bottom: 15px;
    transition: opacity ease-in-out .35s;
    opacity: .5;
    overflow: hidden;
    position: relative;
    background-color: white;

    > div {
       .center;
        height: 60%;
        width:80%;
    }

    .move-next {
        opacity:0;
        transition:opacity ease-in-out 1s;
        clear:both;
        display:block;
        width:100px;
    }

    input,
    select,
    textarea {
        width: 50%;
        font-size: 32px;
        border: 1px solid #808080;
        margin:0 auto;
    }

    textarea {
        height: 80%;
    }

    label {
       // display:none;
        opacity: 0;
        transition: opacity ease-in-out .35s;
        display:block;
    }
}

.active {
    opacity: 1;

    input {
        border: 1px solid #ff0000;
    }

    label {
       // display:block;
        opacity: 1;
    }
    .move-next {
        opacity:1;
    }
}

.footer {
    height:50%;
    background-color:red;
}